<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bridge.Core" version="17.1.0" targetFramework="net461" />
  <package id="Retyped.Core" version="1.6.6733" targetFramework="net461" />
  <package id="Retyped.dom" version="2.8.6733" targetFramework="net461" />
  <package id="Retyped.es2015.collection" version="2.8.6733" targetFramework="net461" />
  <package id="Retyped.es2015.core" version="2.8.6733" targetFramework="net461" />
  <package id="Retyped.es2015.iterable" version="2.8.6733" targetFramework="net461" />
  <package id="Retyped.es2015.symbol" version="2.8.6733" targetFramework="net461" />
  <package id="Retyped.es5" version="2.8.6733" targetFramework="net461" />
  <package id="Retyped.events" version="1.2.6733" targetFramework="net461" />
  <package id="Retyped.node" version="9.6.6733" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.45" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
</packages>